
mixin Booking(config)
  .card.h-100.text-white
    img.img-fluid(src=`${CWD}assets/img/gallery/booking.png`   alt='').h-100.w-100
    .card-img-overlay.bg-dark-gradient.d-flex.flex-column.flex-center 
      h2.text-500 WE WILL SEE YOU
      h1.text-white.fs-7.fw-bold Enjoy 30% Off On First Trip

      form.row.gy-2.gx-3.align-items-center
        .col-auto
          label.visually-hidden(for='autoSizingInput') Name
          input#autoSizingInput.form-control(type='text' placeholder='Jane Doe')
        .col-auto
          label.visually-hidden(for='autoSizingInputGroup') Username
          input#autoSizingInputGroup.form-control(type='text' placeholder='Username')
        .col-auto
          label.visually-hidden(for='autoSizingSelect') Preference
          select#autoSizingSelect.form-select
            option(selected='') Choose...
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
        
        .col-auto
          button.btn.btn-primary(type='submit') Submit
