mixin Travellers 
  +Section.pt-5
    .row.flex-center.mb-5
      .col-8.text-center 
        h1.fw-bold.fs-md-3.fs-lg-4.fs-xl-5 Traveller's Experiences
        hr.mx-auto.text-primary.my-4(style="height:3px; width:70px;")